  .heading
  {
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    background: rgb(204, 243, 29);
  }
  .heading_div
  {
    float: none ; 
    background: rgb(96, 245, 66) ; 
    padding: 10px; 
    border-radius: 5px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 20px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .copy_right_footer {
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(219, 9, 9);
    bottom: 0;
    width: 100%;
    background-color:rgb(39, 240, 12);
    line-height: 3;
    text-align: center;
 }
  canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top: 150px; 
  }
 